@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Errore";
}

<h1 class="text-danger">Errore.</h1>
<h2 class="text-danger">Si è verificato un errore durante l'elaborazione della richiesta.</h2>

