<div class="container jumbotron">
    <div class="col-md-12">
        <h2 class="text-center">é stato registrato. :)</h2>
        <p class="text-center"> <b>hai gia effettuato login</b> </p>
    </div>
</div>