@using PrenditiDaBere.ViewModels;
@model HomeViewModel

@await Html.PartialAsync("Carousel")
<nav class="c-header__menu" role="navigation">
    <div class="u-center-page">
        <ul class="c-header__menu-items">
            <li class="c-header__menu-item">
                <a href="/supermercado/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        BIBITE CALDE
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/frescos/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        BIBITE FRESCHE
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/productos-ecologicos/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        ALTRE BIBITE
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/productos-gourmet/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        STUZZICHINI
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/comida-a-domicilio/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                       HAMBURGHER
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/productos-internacionales/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                       PANINI
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/coverflow-mascotas/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        SNACKS
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/secciones-especiales/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                       ALTRO
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item c-header__menu-item--ofertas">
                <a href="/ofertas/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        OFERTE
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<br/>
<h2>Bibite preferite della settimana! </h2>
<h4>Preferenze degli altri clienti - solo per te!</h4>
<div class="row">
    @foreach (var bibita in Model.BibitePreferite)
    {
        @Html.Partial("ResocontoBibite", bibita)
    }
</div>
