@using PrenditiDaBere.ViewModels;
@model HomeViewModel

<div class="container-fluid">
    <header>
        <div class="row">
            <!--logo-->
            <div class="col-xs-12 col-md-2">
                <a class="navbar-brand logo-top" title="Drogueria - La Rebaja Virtual" alt="logo - La Rebaja" href="/"><img src="/images/logotop.png" alt="La rebaja virtual"></a>
            </div>

            <div class="col-xs-12 col-md-10">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="top_ubicacion">
                            Seleccionar ciudad                                            <a href="/sitio/ubicacion"><span class="text-center title-desp"><br><span class="glyphicon glyphicon-map-marker" style="margin-right: 5px;"></span> Cambiar Ciudad </span></a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <form method="get" action="/catalogo/buscar">
                            <div class="row">
                                <div class="col-xs-7 content-search">
                                    <input type="text" class="form-control" placeholder="Escriba el nombre del producto" autocomplete="off" value="" id="busqueda" name="busqueda">
                                </div>
                                <div class="col-xs-5 content-category">
                                    <div class="controls">
                                        <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-label-placement="" style="width: 126px;">
                                            Todas las categorías
                                        </span>
                                        <a href="#" id="btn-buscador-productos" class="float-right"><img class="ico-buscar" src="/images/desktop/ico-buscar.png" alt=""></a>
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle float-right" style="margin-right: 2px;"><i><img src="/images/desktop/ico-filtro-categorias.png"></i></a>
                                        <ul class="dropdown-menu todas-categorias" aria-labelledby="categorias">
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[1]" id="categoriasBuscador_1" value="1">
                                                <label for="categoriasBuscador_1" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_alimentos.png" alt="" class="data-label">ALIMENTOS Y BEBIDAS</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[47]" id="categoriasBuscador_47" value="47">
                                                <label for="categoriasBuscador_47" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_aseohogar.png" alt="" class="data-label">ASEO Y HOGAR</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[126]" id="categoriasBuscador_126" value="126">
                                                <label for="categoriasBuscador_126" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_bebes.png" alt="" class="data-label">BEBE</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[259]" id="categoriasBuscador_259" value="259">
                                                <label for="categoriasBuscador_259" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_rehabilitacion.png" alt="" class="data-label">CUIDADO EN CASA</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[77]" id="categoriasBuscador_77" value="77">
                                                <label for="categoriasBuscador_77" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_cuidadopersonal.png" alt="" class="data-label">CUIDADO PERSONAL</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[167]" id="categoriasBuscador_167" value="167">
                                                <label for="categoriasBuscador_167" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_dermocosmeticos.png" alt="" class="data-label">DERMOCOSMETICA</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[188]" id="categoriasBuscador_188" value="188">
                                                <label for="categoriasBuscador_188" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_belleza.png" alt="" class="data-label">MAQUILLAJE Y ACCESORIOS</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[213]" id="categoriasBuscador_213" value="213">
                                                <label for="categoriasBuscador_213" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_mascotas.png" alt="" class="data-label">MASCOTAS</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[212]" id="categoriasBuscador_212" value="212">
                                                <label for="categoriasBuscador_212" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_medicinaformulada.png" alt="" class="data-label">MEDICINA FORMULADA</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[227]" id="categoriasBuscador_227" value="227">
                                                <label for="categoriasBuscador_227" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_naturales.png" alt="" class="data-label">NATURALES</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[279]" id="categoriasBuscador_279" value="279">
                                                <label for="categoriasBuscador_279" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_saludybienestar.png" alt="" class="data-label">SALUD Y BIENESTAR</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" name="categoriasBuscador[650]" id="categoriasBuscador_650" value="650">
                                                <label for="categoriasBuscador_650" class="clst_check"><span></span> <img src="/images/menu/desktop/icon_electrohogar.png" alt="" class="data-label">ELECTROHOGAR</label>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-4">
                        <ul class="user">
                            <li><a href="/usuario/autenticar/opcion/inicio"><img class="ico-user" src="/images/desktop/ico-iniciar-sesion.png" alt=""> Iniciar Sesión</a></li>
                            <span style="color:#A3A3A3;" class="hidden-xs hidden-sm">|</span>
                            <li><a href="/usuario/autenticar/opcion/registro">Registrate</a></li>
                        </ul>
                        <div class="info-compra" style="margin-right:0;">
                            <div data-role="panel" id="div-carro-canasta">
                                <div class="btn-group minicar">
                                    <a href="#" data-toggle="dropdown" data-placeholder="false" class="dropdown-toggle">
                                        <span><img class="ico-carrito" src="/images/desktop/ico-carrito.png" alt=""></span>
                                        <span id="cantidad-productos" class="cantidad-productos">0</span>
                                        <p style="color: #A3A3A3;">Productos</p>
                                    </a>

                                    <ul class="dropdown-menu noclose pull-right">
                                        <li class="top">Hay 0 producto(s) en el carro</li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-12 carro-descripcion sin-productos">
                                                    No hay productos en el carrito
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!-- modal pago express -->
                                <div class="modal fade" id="modal-pagoexpress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title text-center" id="myModalLabel">Pago Express</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        El pago express solo está disponible para los pedidos con tipo de entrega a Domicilio, si desea usar el pago express con tipo de entrega a Domicilio de clic en Aceptar
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer center">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                <a href="/carro/pagoexpress" class="btn btn-primary">Aceptar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-compra">
                            <a href="#" data-role="compararProductos" data-opcion="comparar">
                                <span><img class="ico-carrito" src="/images/desktop/comprar.png" alt="Comparar productos" title="Comparar productos"></span>
                            </a>
                            <span id="cantidad-productos-comparar" class="cantidad-productos">
                                0
                            </span>
                            <p style="color: #A3A3A3;">Comparar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


@*<header class="c-header c-header--t1 js-header" data-mensajeidplantilla="" data-mensaje="" data-mensaje-tipo="" data-mensaje-url-ok="" role="banner" data-estado="1">
    <div class="c-header__fix js-header__fix">
        <div class="c-header__top"><div class="u-center-page"><ul class="c-header__sites"><li class="c-header__site-item"><a class="c-header__site c-header__site--cocacola" href="/tienda-coca-cola/" title="Tienda coca cola">Tu espacio Coca-Cola</a></li><li class="c-header__site-item"><a class="c-header__site c-header__site--recetas" href="/recetas/" title="Ver todas las recetas de Tudespensa.com">Recetas</a></li></ul><div class="c-header__contacto js-header__contacto"><a href="#" class="c-header__contacto__item-a js-header__contacto__item-a">Contacta con nosotros</a><div class="c-header__contacto__list"><ul class="o-accord js-accord"><li class="o-accord__item  js-accord__item o-accord__item--icon-left o-accord__item--icon-mail" data-info="" data-label="ayuda@tudespensa.com"><a class="o-accord__item-a u-valign-m js-accord__item-a" href="/contacto/" title="Contacta con nosotros"><span class="u-valign__i">ayuda@tudespensa.com</span></a></li><li class="o-accord__item  js-accord__item o-accord__item--icon-left o-accord__item--icon-phone" data-info="" data-label="900 103 282"><a class="o-accord__item-a u-valign-m js-accord__item-a" href="tel:900 103 282" title="Contacta con nosotros"><span class="u-valign__i">900 103 282</span></a></li><li class="o-accord__item  js-accord__item o-accord__item--icon-left o-accord__item--icon-chat" data-info="" data-label="Habla con TiDi"><a class="o-accord__item-a u-valign-m js-accord__item-a" href="http://m.me/1018268591594065" title="Habla con TiDi"><span class="u-valign__i">Habla con TiDi</span></a></li></ul></div></div><div class="c-header__util"><a class="c-header__ulink c-header__ulink--rec" href="/plan-amigo/" title="Recomienda TuDespensa">Recomiéndanos</a></div></div></div><div class="c-header__main">
            <div class="u-center-page">
                <a class="c-header__logo u-valign-m" href="/" title="TuDespensa.com"><span class="c-header__txt-logo"><em>tudespensa.com</em> ...vivirás mejor</span></a><div class="c-shopping-list js-shopping-list"><div class="c-shopping-list__hovercraft"><div class="c-shopping-list__title"><a href="#" class="c-shopping-list__link u-valign-m js-shopping-list__link"><span class="c-shopping-list__link-i">Tu lista de la compra</span></a><a href="#" class="c-shopping-list__close js-shopping-list__close">Cerrar</a><a href="#" class="c-shopping-list__unfold js-shopping-list__unfold"><span class="c-shopping-list__unfold-txt">Desplegar</span></a></div><div class="c-shopping-list__i c-shopping-list__content js-shopping-list__content"><div class="c-shopping-list-content js-shopping-list-content"><ul class="c-shopping-list-content__items"><li class="c-shopping-list-content__item js-shopping-list-content__item u-hide" data-text=""><a href="#" class="c-shopping-list-content__item-txt js-shopping-list-content__item-lnk"><span class="shopping-list-content__item-lnk-i js-shopping-list-content__item-lnk-i"></span></a><a href="#" class="c-shopping-list-content__item-remove js-shopping-list-content__item-remove">Eliminar</a><a href="#" class="c-shopping-list-content__item-view js-shopping-list-content__item-view">Ver</a></li><li class="c-shopping-list-content__item c-shopping-list-content__item--new"><input type="text" class="js-shopping-list-content__item-new c-shopping-list-content__item-txt u-valign-m" placeholder="Escribe aquí para añadir"><button class="js-shopping-list-content__item-new-btn c-shopping-list-content__item-new-btn">Añadir</button></li></ul></div></div><div class="c-shopping-list__i c-shopping-list__tools"><button title="Pulsa aquí para empezar de nuevo a escribir tu lista" class="o-btn o-btn--transparent o-btn--icon-right o-btn--icon-remove js-shopping-list__empty">Vaciar lista</button></div></div></div><form action="/busqueda/" method="get" class="c-cat-search js-cat-search c-header__main-component"><div class="c-cat-search__btn-view js-cat-search__btn-view">Ver buscador</div><label for="headerQ" class="c-cat-search__label">Busca tus productos</label><div class="c-cat-search__content"><input id="headerQ" placeholder="Escribe un producto, ej: leche" name="q" autocomplete="off" class="c-cat-search__input"><button class="c-cat-search__submit u-hide-text" type="submit">&nbsp;</button><button class="c-cat-search__close u-hide-text js-cat-search__close">Cerrar</button><div class="c-cat-search__suggest js-cat-search__suggest"></div></div></form><div class="c-header__main-component c-header__main-reg u-valign-m">
                    <div class="c-header__main-reg-txt u-valign__i">
                        <span class="c-header__main-reg-colored-txt">Regístrate</span> y descubre cómo
                        puedes vivir mejor
                    </div><button title="Regístrate en Tudespensa.com" class="o-btn o-btn--ctahead js-header__btn-reg">Regístrate</button>
                </div><div class="c-header__main-component c-header__main-log u-valign-m"><button title="Entra con tu cuenta de Tudespensa.com" class="o-btn o-btn--ctahead js-header__btn-log"><span class="c-header__main-log-b">Ya soy cliente</span><span class="c-header__main-log-s">Entrar</span></button></div>
            </div>
        </div><nav class="c-header__menu" role="navigation">
            <div class="u-center-page">
                <ul class="c-header__menu-items">
                    <li class="c-header__menu-item">
                        <a href="/supermercado/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                SUPERMERCADO
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item">
                        <a href="/frescos/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                FRESCOS
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item">
                        <a href="/productos-ecologicos/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                ECOLÓGICO
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item">
                        <a href="/productos-gourmet/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                GOURMET
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item">
                        <a href="/comida-a-domicilio/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                PLATOS PREPARADOS
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item">
                        <a href="/productos-internacionales/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                PRODUCTOS INTERNACIONALES
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item">
                        <a href="/coverflow-mascotas/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                MASCOTAS
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item">
                        <a href="/secciones-especiales/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                OTRAS SECCIONES
                            </span>
                        </a>
                    </li>
                    <li class="c-header__menu-item c-header__menu-item--ofertas">
                        <a href="/ofertas/" class="c-header__menu-href u-valign-m">
                            <span class="c-header__menu-href-i u-valign__i">
                                OFERTAS
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div><div class="c-header__content"><div class="c-header__content-i"><div class="u-center-page js-header__content"></div></div></div>
</header>*@
@await Html.PartialAsync("Carousel")
<nav class="c-header__menu" role="navigation">
    <div class="u-center-page">
        <ul class="c-header__menu-items">
            <li class="c-header__menu-item">
                <a href="/supermercado/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        SUPERMERCADO
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/frescos/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        FRESCOS
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/productos-ecologicos/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        ECOLÓGICO
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/productos-gourmet/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        GOURMET
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/comida-a-domicilio/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        PLATOS PREPARADOS
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/productos-internacionales/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        PRODUCTOS INTERNACIONALES
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/coverflow-mascotas/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        MASCOTAS
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item">
                <a href="/secciones-especiales/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        OTRAS SECCIONES
                    </span>
                </a>
            </li>
            <li class="c-header__menu-item c-header__menu-item--ofertas">
                <a href="/ofertas/" class="c-header__menu-href u-valign-m">
                    <span class="c-header__menu-href-i u-valign__i">
                        OFERTAS
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<h2>Bibite preferite della settimana! </h2>
<h4>Preferenze degli altri clienti - solo per te!</h4>
<div class="row">
    @foreach (var bibita in Model.BibitePreferite)
    {
        @Html.Partial("ResocontoBibite", bibita)
    }
</div>
