<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Prenditi da Bere</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Prenditi da Bere</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    @await Component.InvokeAsync("MenuCategoria")
                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                    @await Component.InvokeAsync("ResocontoShoppingCart")
                </ul>
                @await Html.PartialAsync("LoginPartial")
                <form class="navbar-form navbar-right" asp-controller="Bibita" asp-action="Search" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Cerca una Bibita" name="ricercaString" value="@ViewData["ricercaString"]">
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-pills">
                @*<li><a asp-controller="Home" asp-action="Index">Home</a></li>*@
                @await Component.InvokeAsync("MenuCategoriaH")
                @*<li role="presentation"><a href="#">categoria 1</a></li>
                    <li role="presentation"><a href="#">categoria2</a></li>
                    <li role="presentation"><a href="#">categoria3</a></li>*@
            </ul>
        </div>
    </nav>
    
            <div class="container body-content" style="padding-top:60px;padding-right: 50px; padding-bottom: 50px;    padding-left: 50px;">
                @RenderBody()
                <hr />
                <footer>
                    <p><a target="_blank" href="https://github.com/mobappdev13">&copy; Italian Version - 2018 - Carmen Vargas</a></p>
                    @*<p><a target="_blank" href="https://github.com/etrupja">&copy; Original Version - 2017 - Ervis Trupja</a></p>*@
                </footer>
            </div>
            @RenderSection("scripts", required: false)
</body>
</html>
